<div class="row">
  <div class="col">
    <app-music-search></app-music-search>
  </div>
  <div class="col">
    <button (click)="hide = !hide">Togle</button>
    <app-music-search *ngIf="hide"></app-music-search>
  </div>
</div>