<div class="row">
  <div class="col">

    <app-search-form (search)="search($event)" [query]="query | async"></app-search-form>


  </div>
</div>

<div class="row">
  <div class="col">
    <!-- <p>{{message}}</p> -->


    <ng-container *ngIf=" (results | async) as albums">

      <p>Found {{ (albums)?.length }} results</p>
      <app-search-results [results]="albums"></app-search-results>

    </ng-container>

  </div>
</div>