<form [formGroup]="queryForm" (ngSubmit)="sendSearch()" class=" mb-3" #formRef="ngForm"
  [class]="{'ng-submitted':formRef.submitted}">

  <div class="input-group">

    <input type="text" class="form-control" placeholder="Search" formControlName="query">


    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="submit">Search</button>
    </div>

  </div>

  <ng-container *ngIf="queryForm.get('query') as field">

    <ng-container *ngIf="field?.dirty || field?.touched || formRef.submitted">

      <p *ngIf="field?.hasError('required')">
        Query is required
      </p>

      <p *ngIf="field?.getError('minlength')  as error ">
        Please type minimum {{error.requiredLength}} letters
      </p>

    </ng-container>
  </ng-container>

</form>

<!-- <p *ngIf="queryForm.get('query')?.getError('minlength') $implicit  as error ">
      Please type minimum {{error.requiredLength}} letters
    </p> -->

<!-- if(x = barzoWOlnaoperacja()){ -->
<!-- } -->
<!-- 
  []
  ()
  {{}}
  * 
  # 
-->